 html {
      scroll-behavior: smooth;
 }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f4f4f4;
      color: #333;
    }
    header {
      background: #0073e6;
      color: white;
      padding: 2rem;
      text-align: center;
    }
    nav {
      background: #004d99;
      color: white;
      padding: 1rem;
      text-align: center;
    }
    nav a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
    }
    section {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }
    .card {
      background: white;
      padding: 1.5rem;
      margin: 1rem 0;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    

    footer {
      background: #0073e6;
      color: white;
      text-align: center;
      padding: 1rem;
    }
  
}
